.footer-color{
    background-color: #535252;
    padding-top: 7vh;
    padding-bottom: 5vh;
    color:white;
    letter-spacing: 2px;
    font-size: 2vh;
}
.footer-png{
    height: 10vh;
}
.footer-address{
    padding-top: 5vh;
    border-right: 1px solid white;
    padding-bottom: 5vh;
}
.footer-contact{
    padding-top: 5vh;
    padding-bottom: 5vh;
}